In [1]:
123

123

In [2]:
omen = ryan

NameError: name 'ryan' is not defined

In [3]:
print (omen)

NameError: name 'omen' is not defined

In [4]:
char = ryan

NameError: name 'ryan' is not defined

In [5]:
num = 202

In [6]:
print (num
      )

202

In [7]:
print (type(omen))

NameError: name 'omen' is not defined

In [8]:
cls

In [9]:
print (type(15,5))

TypeError: type() takes 1 or 3 arguments

In [10]:
print("omen")

omen

In [11]:
print(type("omen"))

<class 'str'>

In [12]:
tipedata

NameError: name 'tipedata' is not defined

In [13]:
print (num)

202

In [14]:
name = "ryan"

In [15]:
name2 ="omen"

In [16]:
print (name+name2)

ryanomen

In [17]:
a = 10
b = 5
c = 8

In [21]:
d = a+b
print (d)

15

In [24]:
print (a==b)
print (a !=b )

False
True

In [27]:
msg1 ="48"

In [29]:
print (msg1 + "kelas")

48kelas

In [30]:
msg2 = "test Belajar piton"

In [34]:
print (msg2.capitalize())
print (msg2.upper())

Test belajar piton
TEST BELAJAR PITON

In [36]:
a = ['omen','ryan','mikael']
print (a)

['omen', 'ryan', 'mikael']

In [37]:
print (a[1])

ryan

In [38]:
print (a)

['omen', 'ryan', 'mikael']

In [39]:
tuple_a = ('omen','ryan','mikael')

In [42]:
print (tuple_a)
print (type(a))
print (type(tuple_a))

('omen', 'ryan', 'mikael')
<class 'list'>
<class 'tuple'>

In [43]:
a[1]='asu'

In [45]:
print ((a))

['omen', 'asu', 'mikael']

In [46]:
dict_mobil = {
    'warna' : 'abu2',
    'tahun' : 2018,
    'merk' : 'kijang',
    'tipe' : 'SUV'
}

print (dict_mobil)
print (type(dict_mobil))

{'warna': 'abu2', 'tahun': 2018, 'merk': 'kijang', 'tipe': 'SUV'}
<class 'dict'>

In [48]:
print(dict_mobil ['merk'])

kijang

In [49]:
print(dict_mobil ['tahun'])

2018

In [50]:
dict_mobil ['harga_beli'] = 200

In [51]:
print(dict_mobil)

{'warna': 'abu2', 'tahun': 2018, 'merk': 'kijang', 'tipe': 'SUV', 'harga_beli': 200}

In [52]:
dict_mobil ['merk'] ='Toyota'

In [53]:
print(dict_mobil)

{'warna': 'abu2', 'tahun': 2018, 'merk': 'Toyota', 'tipe': 'SUV', 'harga_beli': 200}

In [55]:
print(dict_mobil.keys())
print(dict_mobil.values())

dict_keys(['warna', 'tahun', 'merk', 'tipe', 'harga_beli'])
dict_values(['abu2', 2018, 'Toyota', 'SUV', 200])

In [56]:
print (dict_mobil.items())

dict_items([('warna', 'abu2'), ('tahun', 2018), ('merk', 'Toyota'), ('tipe', 'SUV'), ('harga_beli', 200)])

In [57]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [58]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True