In [15]:
def bandingangka(a,b,c):
    if a<b:
        print ("a < b")
    
    if b<c:
        print ("a < b < c")
    
    if a < c:
        print("a < b dan a <c")
        
    print ("ok")
    print ("diluar if a < b")

In [16]:
bandingangka(50, 10, 6)

ok
diluar if a < b

In [19]:
namaorang ="Ryan"
print("halo " + namaorang)

halo Ryan

In [39]:
def sapa(namaorang):
    spesial =  "john"
    if(namaorang == spesial):
        print("***spesial****")
    print("halo "+ namaorang)
    return "Hore"
    print ("setelah return")

hasil1 = sapa ('john')
sapa("John")
sapa("")

***spesial****
halo john
halo John
halo

In [33]:
print (hasil1)

Hore

In [53]:
list_buah =['nangka','belimbing','manggis','duku']

def nambahbuah(a):
    a.append("durian")

print (list_buah)
nambahbuah(list_buah)
print (list_buah) #buahnya jadi 5 pass by ref

['nangka', 'belimbing', 'manggis', 'duku']
['nangka', 'belimbing', 'manggis', 'duku', 'durian']

In [49]:
list_buah =['nangka','belimbing','manggis','duku']

a= list_buah
a.append("pisang")

print(list_buah)

['nangka', 'belimbing', 'manggis', 'duku', 'pisang']

In [51]:
buah = "pepaya"

buah2 = buah
buah2 += "manis"

print (buah) #pass by value
print (buah2)

pepaya
pepayamanis

In [76]:
list1 =['azka','abi','hesti']

def halo(a):
    #bikin copy list baru dulu
    list_baru=[]
    #untuk setiap barang yg ada di list lama(yg dari parameter)
    for i in a:
        list_baru.append(i) #kita masukin list baru
       
    list_baru.append("idaz")  #baru yg kita edit yang list baru
    return list_baru #lalu di return

baru = halo(list1) #membuat sebuah list baru yg sudah di edit

print('list lama',list1)
print('baru',baru)

list lama ['azka', 'abi', 'hesti']
baru ['azka', 'abi', 'hesti', 'idaz']

In [75]:
#halo(baru)
halo(list1)
halo(list1)

['azka', 'abi', 'hesti', 'idaz']

In [81]:
def printme(a,b,c):
    print ("a:",a,"b:",b,"c:",c)

printme(1,2,3)

a: 1 b: 2 c: 3

In [82]:
def printme(a,b,c): #default argument , default value
    print ("a:",a,"b:",b,"c:",c)

printme(3,2,1)

a: 3 b: 2 c: 1

In [84]:
printme(c=10, a=15, b=3) #keyword argument

a: 15 b: 3 c: 10

In [86]:
def printme(a,b,c=10):
    print ("a:",a,"b:",b,"c:",c)

printme(3,2) #

a: 3 b: 2 c: 10

In [90]:
def printpanjang(arg1, *vartuple):
    print("arg1",arg1)
    print("vartuple",vartuple)

printpanjang(1)

printpanjang(1,2,3,4,5,6,7)

arg1 1
vartuple ()
arg1 1
vartuple (2, 3, 4, 5, 6, 7)

In [91]:
def printpan(*vartuple):
    print("vartuple:",vartuple)
    
printpan()

vartuple: ()

In [94]:
def printpan(*vartuple):
    for num in vartuple:
        if(num % 2 == 0):
            print("genap:",num)
        else:
            print("ganjil,num")
printpan(1,2,3,4,9,1090)

ganjil,num
genap: 2
ganjil,num
genap: 4
ganjil,num
genap: 1090

In [100]:
#function anonymous
#function auto return
tambah = lambda a,b : a-b;
print(tambah(5,10))

-5

In [103]:
def tambah(a,b):
    return a+b, 10

print(tambah(10,20))

(30, 10)

In [108]:
global_c = 8

def tambah(a,b):
    a = a * 10
    b = b * 5
    return a+b+global_c

print(tambah(10,20))

208

In [127]:
num = 9999
def kalian(num1,num2):
    if (num1>0):
        multiplier = 5
        num1 = num1 * multiplier
        print ("num1:",num1)
        
    print("multiplier",multiplier)
    print("num",num)
    print("num1",num)
    print("num2",num2)
    
kalian(3,8)

#def kalian2():
 #   print("num",num)
#kalian2()

num1: 15
multiplier 5
num 9999
num1 9999
num2 8

In [5]:
import mod

print(mod.name)
print(mod.age)
mod.salam()

andika
25
salam kenal saya  andika

In [12]:
from mod import name, age, salam
print(name)
print(age)
print(age*5)
salam()

andika
25
125
salam kenal saya  andika

In [13]:
from mod import *
print(name)
print(age)
print(age*5)
salam()

andika
25
125
salam kenal saya  andika

In [2]:
from mod import name as username, age as umur, salam as usersalam

print(username,umur)
usersalam()

andika 25
salam kenal saya  andika

In [3]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit',
 'umur',
 'username',
 'usersalam']

In [5]:
import sys